---
title: Article
---

{% extends "layouts/_layout.html" %} {% block content %}
<!-- begin header -->
{% include "partials/_header.html" %}
<!-- end header -->
<!-- begin main -->
<main class="main single-article-page">
  <article class="blog">
    <div class="container">
      <h1 class="content__title heading wow fadeInUp">Latest</h1>
      <div class="filter">
        <ul class="filter__nav wow fadeInUp" data-wow-delay="0.3s">
          <li>
            <button class="btn filter__nav-btn is-current" data-filter="all">
              All
            </button>
          </li>
          <li>
            <button class="btn filter__nav-btn" data-filter="news">News</button>
          </li>
          <li>
            <button class="btn filter__nav-btn" data-filter="tips">
              Stylist Tips
            </button>
          </li>
          <li>
            <button class="btn filter__nav-btn" data-filter="products">
              Products
            </button>
          </li>
          <li>
            <button class="btn filter__nav-btn" data-filter="trends">
              Trends
            </button>
          </li>
        </ul>
      </div>
      <section class="article wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="article__title">
          We’re hiring! Take your hairdressing career to the next level
        </h2>
        <div class="article__data">
          <div class="article__date">02 September 2018</div>
          <a href="#" class="article__share">
            <span>Share to Facebook</span>
            <svg class="icon icon-redo">
              <use xlink:href="img/sprite.svg#icon-redo"></use>
            </svg>
          </a>
        </div>
        <div class="article__content">
          <div class="overwidth">
            <div class="row">
              <div class="col-12">
                <div class="article__image h-575">
                  <img
                    src="img/image-default.svg"
                    class="article__image-default"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <h5 class="article__content-title">
            Do you love helping people look and feel fantastic? We invite you to
            further your hairdressing career as part of the team at New
            Zealand’s most awarded hair salon brand, Rodney Wayne.
          </h5>
          <p>
            At Rodney Wayne, we believe everyone has the right to look and feel
            fabulous. We care for our clients’ hair without compromising the
            health or integrity of their hair. To deliver on this promise takes
            people who are passionate about hairdressing and keen to bring out
            the best in themselves and others. Does this sound like you? Then
            we’d like to welcome you to the team. <br />
            You’ll love working at Rodney Wayne <br />
            We love working here and we know that you will too. Here’s why:
          </p>
          <h5 class="article__content-title">Great working environment</h5>
          <p>
            Rodney Wayne salons are dynamic, modern and well equipped. We use
            and recommend Kérastase, Redken, ghd and L’Oreal Professionnel
            products. Our people love hairdressing and are motivated, positive
            and supportive. We have a great mix of customers throughout New
            Zealand who rely on us for beautiful healthy hair.
          </p>
          <h5 class="article__content-title">World class hairdressing</h5>
          <p>
            Learn from some of the best! Rodney Wayne creative director Richard
            Kavanagh is renowned as one of the world’s top session stylists. He
            is a global ambassador for Redken and styles for fashion weeks and
            hair and fashion magazines around the world. Richard leads many of
            our training programmes and ensures our award-winning hair stylists
            and colourists are at the forefront of hairdressing. You too could
            join the many Rodney Wayne hair stylists and colourists who are
            garnering local and international acclaim.
          </p>
          <div class="overwidth">
            <div class="row">
              <div class="col-md-6">
                <div class="article__image h-575">
                  <img
                    src="img/image-default.svg"
                    class="article__image-default"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="article__image h-575">
                  <img
                    src="img/image-default.svg"
                    class="article__image-default"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <h5 class="article__content-title">Excellent training and support</h5>
          <p>
            You’ll benefit from our industry-leading hairdressing training
            programs and support systems while earning an excellent income. The
            Rodney Wayne Rewards programme gives your clients extra rewards,
            special offers and surprises so they feel more positive, and visit
            more often.
          </p>
          <h5 class="article__content-title">Flexible schedules if needed</h5>
          <p>
            Everyone has different working requirements. So we have full-time
            and part-time positions available at our salons across New Zealand.
          </p>
          <div class="article__image h-575">
            <img
              src="img/image-default.svg"
              class="article__image-default"
              alt=""
            />
          </div>
          <h5 class="article__content-title">Earn more at Rodney Wayne</h5>
          <p>
            We know you love hairdressing but we also know that talent deserves
            to be rewarded. At Rodney Wayne, we offer performance incentives and
            generous team awards on top of pay and bonuses.
          </p>
          <h5 class="article__content-title">Career growth</h5>
          <p>
            Watch your career flourish at Rodney Wayne! We have a range of
            development programs and pathways to develop your potential. There
            are multiple opportunities for career growth, from hair technician
            to stylist, to store manager and salon owner.
          </p>
          <p>
            Apply now! <br />
            If you love to pamper your clients, enjoy working within a team
            environment and are motivated to learn about creating great hair
            then contact us now. There is a range of exciting hairdressing
            careers and hair salon team and leadership roles for you at Rodney
            Wayne and Rodney Wayne Shampoo ‘n’ Things. There are Rodney Wayne
            salons and Shampoo ‘n’ Things retail stores conveniently located
            throughout New Zealand. We are always looking for new Rodney Wayne
            team members.
          </p>
          <p>We look forward to hearing from you.</p>
          <p>Contact Jade on 09 3584644 or email jadeu@rodneywayne.com</p>
          <p>All communications will be treated with confidence.</p>
        </div>
      </section>
    </div>
  </article>
  <section class="section-cta">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-cta__text wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="content__title">Book Now</h1>
            <p>Contact Rodney Wayne</p>
            <div class="contact-links">
              <a href="mailto:stephanie@rodneywayne.com">
                <img src="img/email.png" alt="Email" />
                <span>stephanie@rodneywayne.com</span></a
              >
              <a href="tel:+95205295">
                <img src="img/phone.png" alt="Phone" /> <span>+9 520 5295</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-posts wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <h2 class="section-posts__title">Similar Posts</h2>
      <div class="blog__cards">
        <div class="blog__card">
          <a href="blog-article.html" class="blog__card-link">
            <div class="bg-absolute"><img src="img/blog/1.jpg" alt="" /></div>
            <span class="blog__card-date">Oct 12</span>
            <h3 class="blog__card-title">
              We’re hiring! Take your hairdressing career to the next level
            </h3>
            <div class="blog__card-footer">
              <p class="blog__card-tags">NEWS</p>
            </div>
          </a>
        </div>
        <div class="blog__card">
          <a href="blog-article.html" class="blog__card-link">
            <div class="bg-absolute"><img src="img/blog/2.jpg" alt="" /></div>
            <span class="blog__card-date">Oct 12</span>
            <h3 class="blog__card-title">
              Add New Life To Your Balayage With Instant Highlights
            </h3>
            <div class="blog__card-footer">
              <p class="blog__card-tags">NEWS / STYLIST TIPS</p>
              <div class="blog__card-more">READ MORE</div>
            </div>
          </a>
        </div>
        <div class="blog__card">
          <a href="blog-article.html" class="blog__card-link">
            <div class="bg-absolute"><img src="img/blog/3.jpg" alt="" /></div>
            <span class="blog__card-date">Oct 12</span>
            <h3 class="blog__card-title">
              NEW KÉRASTASE ELIXIR ULTIME – ULTIMATE SOFTNESS AND SHINE
            </h3>
            <div class="blog__card-footer">
              <p class="blog__card-tags">HAIR PRODUCTS / NEWS</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- end main -->
<!-- begin footer -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}
