---
title: Careers
---

{% extends "layouts/_layout.html" %} {% block content %}
<!-- begin header -->
{% include "partials/_header.html" %}
<!-- end header -->
<!-- begin main -->
<main class="main careers">
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="panel__text">
          <h1 class="content__title rev-effect rev-effect--lr">
            Are you looking for a career in hairdressing?
          </h1>
        </div>
      </div>
      <div class="col-md-6 wow fadeIn">
        <div class="panel__picture">
          <div class="bg-absolute">
            <img src="img/flat.jpg" alt="" />
            <div
              class="panel__text panel__picture-text wow fadeInUp"
              data-wow-delay="0.3s"
            >
              <p>Do you love helping people look and feel fantastic?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="panel__text">
          <h1 class="content__title wow fadeInUp">You’ll love working at Rodney Wayne.</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="panel__text panel__text--bg-colored panel__text--stretched"
        >
          <p class="wow fadeInUp"
          data-wow-delay="0.3s">
            Then we invite you to further your career as part of the award
            winning team at New Zealand’s number one hair salon and hairdressing
            brand, Rodney Wayne.
          </p>
          <div class="wow fadeInUp"
          data-wow-delay="0.3s">
            <p>We love working here and we know that you will too.</p>
            <p>Here’s why:</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="panel__text">
          <h1 class="content__title wow fadeInUp">We have a great working environment.</h1>
        </div>
      </div>
      <div class="col-md-6 wow fadeIn">
        <div class="panel__picture rev-effect rev-effect--rl">
          <div class="bg-absolute">
            <img src="img/hair.jpg" alt="" />
            <div
              class="panel__text panel__picture-text"
            >
              <p>
                Our people love hairdressing and are motivated, positive and
                supportive. We have a great mix of customers throughout New
                Zealand who rely on us for beautiful healthy hair.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="panel__text">
          <h1 class="content__title wow fadeInUp">World class hairdressing.</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="panel__text panel__text--bg-colored panel__text--stretched justify-content-end"
        >
          <p class="wow fadeInUp" data-wow-delay="0.3s"">
            At Rodney Wayne we work with world renowned, top session stylists,
            with Richard Kavanaugh as creative director. You too could join the
            many Rodney Wayne hair stylists and colourists who are garnering
            local and international acclaim.
          </p>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="panel__text">
          <h1 class="content__title wow fadeInUp">Flexible working opportunities and multiple paths for career growth.</h1>
        </div>
      </div>
      <div class="col-md-6 wow">
        <div class="panel__picture  rev-effect rev-effect--rl">
          <div class="bg-absolute">
            <img src="img/opportunities.jpg" alt="" />
            <div
              class="panel__text panel__picture-text"
            >
              <p>
                  At Rodney Wayne, we believe in developing people and helping them reach their true potential. As a member of the Rodney Wayne team, you’ll enjoy expert support and can take advantage of regular skills training and personal development courses for all levels of expertise.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <section>
    <div class="row no-gutters">
      <div class="col-12 wow fadeIn">
        <div class="panel__video">
            <div class="video">
                <a class="video__link" href="https://youtu.be/b1aPR2Tl39U">
                  <picture>
                    <source srcset="https://i.ytimg.com/vi_webp/b1aPR2Tl39U/maxresdefault.webp" type="image/webp">
                    <img class="video__media" src="https://i.ytimg.com/vi/b1aPR2Tl39U/maxresdefault.jpg" alt="Hair Careers at Rodney Wayne">
                  </picture>
                </a>
                <button class="video__button" type="button" aria-label="Запустить видео">
                  <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
                </button>
              </div>
          <!-- <button class="btn btn-play">
            <img src="img/play-button.png" alt="" />
          </button> -->
        </div>
      </div>
    </div>
  </section>
  <section class="section-cta">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-cta__text wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="content__title">Apply Now</h1>
            <p>
              Contact Rodney Wayne
            </p>
            <div class="contact-links">
              <a href="mailto:stephanie@rodneywayne.com">
                <img src="img/email.png" alt="Email" />
                <span>stephanie@rodneywayne.com</span></a
              >
              <a href="tel:+95205295">
                <img src="img/phone.png" alt="Phone" /> <span>+9 520 5295</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- end main -->
<!-- begin footer -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}
