---
title: Franchise
---

{% extends "layouts/_layout.html" %} {% block content %}
<!-- begin header -->
{% include "partials/_header.html" %}
<!-- end header -->
<!-- begin main -->
<main class="main">
  <section class="about__hero ">
    <div class="about__hero-contr">
      <div class=" rev-effect rev-effect--lr">
        <h4 class="hero__subtitle">Franchise Opportunities</h4>
        <h1 class="hero__title heading">
          <span class="font-weight-semibold">Rodney Wayne</span> invites you to
          join this iconic New Zealand brand. If you are a motivated
          <span class="font-weight-semibold">‘people person’</span> and curious
          about the hair industry,
          <span class="font-weight-semibold"
            >this is the opportunity for you.</span
          >
        </h1>
      </div>
    </div>
  </section>
  <article class="panel parallax-item height-custom">
    <div class="row no-gutters">
      <div class="col-12  wow fadeIn">
        <div class="panel__picture height-custom">
          <div class="bg-absolute parallax-target">
            <img src="img/northwest.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6 wow fadeIn">
        <div class="panel__text height-auto">
          <h3 class="heading panel__title wow fadeInUp">
            Become a Franchise Owner
          </h3>
          <p class="wow fadeInUp" data-wow-delay="0.3s">
            Rodney Wayne is looking for new franchise owners across New Zealand
            to be a part of the plan for growth. It’s an exciting and rewarding
            industry, and becoming a Rodney Wayne salon and Shampoo ’n’ Things
            owner comes with a range of unique additional benefits.
          </p>
        </div>
        <div class="panel__picture">
          <div class="rev-effect rev-effect--rl">
            <img src="img/kevin.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel__text panel__text--bg-colored panel__text--stretched">
          <ul class="list-dashed wow fadeInUp" data-wow-delay="0.3s">
            <li>
              <span class="dash"></span> Mission and values that drive enriched
              customer experience and business growth.
            </li>
            <li><span class="dash"></span>Trusted and progressive brand.</li>
            <li><span class="dash"></span>Proven system for success.</li>
            <li>
              <span class="dash"></span> Industry-leading training and support,
              including financial management benchmarking and staff education to
              help keep your business at peak performance.
            </li>
            <li>
              <span class="dash"></span> World-class marketing and customer
              engagement programme. Superior products.
            </li>
            <li><span class="dash"></span>Strong buying power.</li>
          </ul>
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <h3 class="heading mb-0 panel__title wow fadeInUp c_grey">
              Once you join Rodney Wayne, you’ll also have a dedicated support
              manager to guide you through all aspects of the business.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="panel">
    <div class="row no-gutters">
      <div class="col-md-6 wow fadeIn">
        <div class="panel__text">
          <h3 class="heading panel__title wow fadeInUp" data-wow-delay="0.3s">
            Join the team
          </h3>
          <div class="wow fadeInUp" data-wow-delay="0.6s">
            <p>
              Franchise opportunities are available in Auckland, Wellington,
              Christchurch, Tauranga, Queenstown and Dunedin from $150k to over
              $500k. A hairdressing background is not essential.
            </p>
            <p>Register your interest now by emailing</p>
            <p>
              <a href="mailto:rodney@rodneywayne.co.nz"
                >Rodney@rodneywayne.co.nz</a
              >
              OR call <a href="tel:+093584644">09 358 4644</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel__picture">
          <div class="bg-absolute rev-effect rev-effect--rl">
            <img src="img/rubi2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
<!-- end main -->
<!-- begin footer -->
{% include "partials/_footer.html" %}
<!-- end footer -->

{% endblock %}
