<footer class="footer wow fadeIn">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copyright">All rights reserved by Rodney Wayne</div>
      <ul class="footer__menu">
        <li class="nav-item"><a class="nav-link" href="#">Join our team</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Franchise Opportunies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link--social" href="#">
            <svg class="icon icon-instagram">
              <use xlink:href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link--social" href="#">
            <svg class="icon icon-facebook">
              <use xlink:href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
